<div class="text-layout">
    <h1>Decimal and percentages</h1>
    <p>
        Basic pipes - commonly included on common module
    </p>
</div>

<div class="grid">
    <div class="col-6">
        <p-fieldset legend="i18nSelect"  [toggleable]="true">
            <p>
                Something happened to {{name }}s house , thanks god {{gender | i18nSelect: matchGenderMap}} family is ok.
            </p>
            <button pButton type="button" label="Random" class="p-button-raised p-button-rounded p-button-info" (click)="selectRandomCustomer()"></button>
        </p-fieldset>

    </div>
    <div class="col-6">
        <p-fieldset legend="i18nPlural"  [toggleable]="true">
        <p>
              {{customers.length | i18nPlural: displayMessageMap}}
        </p>
         <button pButton type="button" label="Delete" class="p-button-raised p-button-rounded p-button-danger" (click)="deleteCustomer()"></button>
        </p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Slice pipe"  [toggleable]="true">
            <p>Friends | slice:0</p>
            <pre>{{Friends | slice:0}}</pre>

            <p>Friends | slice:0:2</p>
            <pre>{{Friends | slice:0:2}}</pre>
            
            <p>Friends | slice:-4}}</p>
            <pre>{{Friends | slice:-4}}</pre>
        </p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="keyvalue pipe"  [toggleable]="true">
         <ul>
             <li *ngFor="let item of person | keyvalue">
                 <b>{{item.key | titlecase }}</b>: {{item.value}}
             </li>
         </ul>

        </p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="JSON pipe"  [toggleable]="true">
            <p>Object</p>
            <pre>{{person | json | titlecase}}</pre>
            <p>Array</p>
            <pre>{{Friends | json | titlecase}}</pre>
            <p>Objects Array</p>
            <pre>{{customers | json | titlecase}}</pre>
        </p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Async pipe"  [toggleable]="true">

            <p *ngIf="!(myObservable | async)" >My observable</p>
            <pre>{{myObservable | async }}</pre>

            <p *ngIf="!(myPromise | async)">Promise pending</p>
            <pre>{{myPromise | async }}</pre>
        </p-fieldset>
    </div>
</div>
