
<div class="text-layout">

    <h2>{{ title }}</h2>

    <hr>
    <button (click)="upper()"  class="p-button-help" pButton type="button" icon="pi pi-bell" iconPos="right" label="Uppercase" ></button>

    <p-card [header]="title "
            [subheader]="subheader | titlecase">
        Card description text with lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ea nihil enim aut aperiam atque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam reprehenderit veniam sed. Perferendis nisi quis deserunt eligendi natus repudiandae magni!
    </p-card>
    

</div>

